* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	background-color: #f9f9f9;
	color: #222;
	font-size: 62.5%;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	padding: 0;
}
#photos {
	position: relative;
	overflow-x: hidden;
}
#photo-demo {
	text-align: center;
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
#photo-control--left,
#photo-control--right {
	z-index: 1;
	position: absolute;
	color: #ccc;
	background-color: red;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 2rem 1rem;
	font-size: 2rem;
	width: 6rem;
	display: inline-block;
	font-weight: 200;
	line-height: 0.2;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-style: italic;
	top: calc(50% - 22px);
}
#photo-control--right {
	right: 0;
}
#photo-controls > div:hover {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}
#photo-controls > div > span {
	position: relative;
	left: -0.6rem;
	top: 0.4rem;
}
#photo-controls > div:first-child {
	float: left;
}
#photo-controls > div:last-child {
	float: right;
}
#photo-controls > div:last-child > span {
	left: -0.1rem;
}
#time-demo {
	margin: 0 auto;
	margin-bottom: 9rem;
}



.hexaflip-side:nth-child(1) {
	background-color: red !important;
}

.hexaflip-side:nth-child(2) {
	background-color: green !important;
}

.hexaflip-side:nth-child(3) {
	background-color: blue !important;
}

.hexaflip-side:nth-child(4) {
	background-color: yellow !important;
}

.hexaflip-side:nth-child(5) {
	background-color: pink !important;
}

.hexaflip-side:nth-child(6) {
	background-color: black !important;
}